# Порт сервера
PORT=3001

# Настройки CORS
# Отключить CORS полностью (не рекомендуется для разработки)
# ENABLE_CORS=false

# URL облачного сервиса для отправки данных
CLOUD_API_INGEST_URL=https://test.backend.drill.greact.ru/ingest
